.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #333;
  padding: 2px;
}

#gameboard {
  background-color: pink;
}

.grid-cell {
  width: 30px;
  height: 30px;
  background-color: #87ceeb;
  border: none;
  cursor: pointer;
}

.grid-cell:hover {
  background-color: rgb(255, 251, 30);
}

[class^="ship"] {
  background-color: #666;
}

.ship-1 {
  background-color: #ff6b6b;
}

.ship-2 {
  background-color: #4ecdc4;
}

.ship-3 {
  background-color: #45b7d1;
}

.hit {
  background-color: red;
}

.miss {
  background-color: gray;
}

.sunk {
  background-color: black;
}

.bs-bank {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  display: block;
}

.bank-item {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #333;
  background-color: #f0f0f0;
  cursor: grab;
}

.bs-segment {
  width: 30px;
  height: 30px;
  background-color: #666;
  border: 1px solid #333;
}
