body {
  padding: 0;
  margin: 0;
}

#container {
  background-color: #212228;
  background-image:
    linear-gradient(#292a30 0.1em, transparent 0.1em),
    linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
}

#card {
  width: 400px;
  height: 400px;
  background-color: #afda9f;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
}
